@media (min-width: 768px) {
	.navbar {
	    border-radius: 0px !important;
	}

	.navbar-brand {
		padding: 30px 15px !important;
	}

	.nav {
		padding: 0px 40px !important;
		font-size: 16px;
		margin: 7.5px -15px 0px -15px !important;
	}
}

@media (max-width: 768px) {
	.mobile-search {
		display: inline-block !important;
		width: auto !important;
	}
}

.navbar-brand {
	font-size: 24px !important;
	line-height: 24px !important;
	font-weight: 700;
	color: white;
}


.icon-bar {
	border: white 1px solid;
}

